:root {
  --green: #acb071;
  --secondary: #edead0;
  --text-color-primary: #354419;
  --text-color-secondary: #6a7354;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--green);
  color: var(--text-color-primary);
  padding: 5px;
}

.nav h1 {
  width: 25%;
  height: 15%;
  padding: 20px;
  font-weight: bold;
  background-color: var(--secondary);
}

.nav ul li {
  display: inline-block;
  justify-content: center;
  padding: 10px;
  margin: 20px 20px 0 0;
}

header nav ul li a {
  color: var(--text-color-primary);
  font-weight: bold;
}

.banner {
  background-image: url("../images/download.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  height: 300px;
  width: 100%;
}

.banner img {
  padding: 20px;
}

.title {
  border-right: 5px#be7216 solid;
  color: var(--text-color-primary);
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}

.title h2 {
  border-right: 10px;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 20px;
  background-color: var(--secondary);
}

#aboutme p {
  padding: 20px;
}

#work {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
}

.projects a {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 30px;
  border: 5px #be7216 solid;
}

.project-label {
  position: absolute;
  top: 3px;
  right: 5px;
  background-color: white;
  width: 35%;
  box-shadow: 2px 2px 2px grey;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
}

.project-1 {
  flex-basis: 100%;
}

footer {
  display: flex;
  background-color: var(--secondary);
  color: var(--text-color-primary);
}

footer ul li {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  color: var(--text-color-primary);
  text-decoration: none;
}
